@import url(http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext);

html {
    font-family: "Poiret One";
}
div {
    margin: 0 auto;
}
body {
    margin: 0;
}
div#stickyMenu {
    background-color: #375A7F;
    color: #FFFFFF;
    left: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}
div#brand {
    position: relative;
    display: inline-block;
    font-size: 2em;
    left: 20px;
    vertical-align:middle;
}
div#menu {
    display: inline-block;
    vertical-align:middle;
}
div#content {
    width:80%;
    height: auto;
    margin-top: 60px;
}
div#aside {
    background-color:#FFF;
    border-right:2px solid #375A7F;
    width:29%;
    float:left;
    height:1000px;
}
div#article {
    width:69%;
    float:right;
    height:380px;
    padding:20px 0 0 10px;
}
div#footer {
    width:80%;
    height:100%;
    clear:both;
    margin-top:20px;
    padding: 20px 0;
    text-align:center;
    border-top:2px solid #375A7F;
    background-color: rgba(55,90,127,0.9);
}
ul li {
    display:inline;
    margin:20px;
}
ul li:hover {
    cursor: pointer;
    font-weight: 900;
}
li a {
    text-decoration:none;
    color:#FFFFFF;
}
h1 {
    margin-top:0;
}
div#calculator {
   text-align:center;
}
div#calculator input[type=text] {
    border:1px solid #5896b6;
    height:1.5em;
    width:4.5em;
    text-align:right;
    font-size:2em;
    color:#000;
    font-weight:bold;
}
div#calculator input[type=button] {
    margin: 10px;
    margin-top: 20px;
    cursor:pointer;
    border:1px solid #5896b6;
    height:2.5em;
    width:2.5em;
    text-align:center;
    font-size:2em;
    color:#000;
    font-weight:bold;
}
